# PostgreSQL Configurations
POSTGRES_USER=admin
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=messangerdb
POSTGRES_PORT=54320

# pgAdmin Configurations
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=50500
